.about{
    font-family: sans-serif;
    h3{
        font-size: 20px;
    }
    background: linear-gradient(90deg , #faee67 , #7eff66);
    padding: 20px;
    border-radius: 20px;
    margin-top: 80px;
}