<div class="product">
    <h2>These are Our Products</h2>
    <div class="product__cont">
        <div class="product__list">
            <img src="../../assets/images/Shoe.jpg" alt="Shoe">
            <p>shoe</p>
        </div>
        <div class="product__list">
            <img src="../../assets/images/Cloth.jpg" alt="Cloth">
            <p>Cloth</p>
        </div>
        <div class="product__list">
            <img src="../../assets/images//phone.jpg" alt="phone">
            <p>Mobile</p>
        </div>
    </div>
</div>